<div class="container-fluid ">
  <br>
  <app-searc-form (emitSearch)="searchUser($event)"></app-searc-form>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src='{{user.avatar_url}}' alt="avatar" class=" img-card-top b-0 m-o" height="300px" width="400px"
          id="avatar"> 
          <div class="div-card-footer">
          </div>       
    </div>
    </div>
    <div class="col-md-6">
      <div class="card-body ">
        <h4 class="card-title">Github Username:{{user.login}}</h4>
        <hr>
       <p> Followers: {{user.followers}} <br>
          Following: {{user.following}} <br> Public Repos: {{user.public_repos}}</p> <br>
            <p> Created {{user.created_at|date}}</p>     
      <div class="text-center mb-3">
        <a href="{{user.html_url}}" class="btn btn-info btn sm" target="_blank">View profile on
          github</a>
        </div>      
    </div>
    </div>
  </div>

  